h1 {
  position: absolute;
  z-index: 7000;
  bottom: 30px;
  left: 40%;
  left: calc( 50% - 160px );
  margin: 0;
  font: 28px 'Voces', sans-serif;
  color: #000;
}
h1 b{
  color: white;
  text-shadow: 1px 2px 0px black;
  width: 300px;
  display: inline-block;
  text-align: center;
}

#about {
  display: none;
  position: absolute;
  z-index: 7001;
  width: 300px;
  top: 40px;
  left: 40px;
  font: 14px 'Voces', Arial, sans-serif;
  color: white;
  line-height: 1.3rem;
  background: rgba(0,0,0,0.2);
  padding: 1rem;
  box-sizing: border-box;
}
#about b{
    font-weight: bold;
    font-family: monospace;
}
#about p:last-child{
  margin: 0;
}
#about a{
  font-size: 14px;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  transition: border-bottom-width 0.1s;
  display: inline-block;
  background: rgba(255,255,255,0.4);
  padding: 0 3px;
}
#about a:hover{
  background: rgba(255,255,255,1);
}
#sidebar {
  height: 10%;
  width: 200px;
  background-color: #fff;
  position: fixed !important;
  z-index: 1;
  overflow: auto
}

h1 a{
  color: white;
  text-decoration: none;
  text-shadow: 1px 2px 0px black;
  font-size: 20px;
}
@use "@material/tab-bar/mdc-tab-bar";
@media (max-width: 400px), (max-height: 300px) {
#about {
  left: 5%;
  top: 5%;
  width: 90%;
}
h1 {
  left: 5%;
}
h1 b {
  width: auto;
}
}

.footer {
  z-index: 11; }

.footer .gradient {
  z-index: 11;
  position: fixed;
  bottom: 0;
  pointer-events: none;
  background-image: url("../img/splash/gradient.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom; }

.footer .left {
  left: 0;
  width: 200vw;
  height: 40vh; }

.footer .right {
  right: 0;
  width: 200vw;
  height: 40vh;
  transform: scaleX(-1); }

.footer .about-btn {
  z-index: 11;
  right: 0;
  top: 0;
  color: #133754;
  padding-bottom: 2px;
  border-bottom: 1px solid #133754;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  position: absolute;
  display: block;
  margin: 20px;
  font-family: "NowAlt-Regular";
  font-size: 15px;
  text-decoration: none; }
  @media screen and (max-width: 620px) {
    .footer .about-btn {
      font-size: 15px; } }
  @media screen and (max-height: 620px) {
    .footer .about-btn {
      font-size: 15px; } }

.footer .headphones {
  z-index: 11;
  position: absolute;
  top: 15px;
  left: 15px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  color: #133754;
  overflow: hidden;
  transition: width 0.2s; }
  .footer .headphones:hover {
    width: 240px; }
  .footer .headphones img {
    width: auto;
    display: inline-block;
    top: 2px;
    left: 3px;
    height: 22px;
    position: absolute; }
  .footer .headphones #headphones-text {
    width: 230px;
    height: 100%;
    display: inline-block;
    height: 100%;
    position: absolute;
    line-height: 30px;
    left: 30px;
    font-family: "NowAlt-Medium";
    font-size: 9.5px;
    letter-spacing: 0.2em;
    text-transform: uppercase; }

.footer .terms {
  z-index: 12;
  position: absolute;
  display: block;
  text-align: right;
  right: 0;
  bottom: 0;
  margin: 0 20px 20px 0;
  color: #FFF;
  font-size: 15px;
  white-space: nowrap; }

.footer .terms a {
  font-family: "NowAlt-Regular";
  color: #FFF;
  text-decoration: none; }

.footer .terms a:hover {
  text-decoration: underline; }

@media screen and (max-width: 620px) {
  .footer .terms {
    margin: 0 0 20px 0;
    text-align: left;
    left: 50%;
    right: auto;
    transform: translateX(-50%); }
  .footer .credits {
    text-align: justify !important; }
  .footer .credits:after {
    content: '';
    display: inline-block;
    width: 100%;
    margin: 0 20px 30px 20px; }
  .footer .credits li {
    display: inline-block;
    margin: 0 0 0 0 !important; } }

.footer .credits {
  z-index: 11;
  position: absolute;
  width: calc(100% - 40px);
  min-width: 300px;
  left: 0;
  bottom: 0;
  padding: 0;
  text-align: left;
  margin: 0 20px 17px 20px; }

.footer .credits li {
  display: inline-block;
  margin: 0 10px 0 10px; }

.footer .credits li:nth-of-type(1) img {
  width: 104px;
  height: auto; }
  @media screen and (max-width: 460px) {
    .footer .credits li:nth-of-type(1) img {
      width: 78px; } }

.footer .credits li:nth-of-type(2) img {
  width: 1px;
  height: auto; }
  @media screen and (max-width: 460px) {
    .footer .credits li:nth-of-type(2) img {
      height: 40px; } }

.footer .credits li:nth-of-type(3) img {
  width: 77px;
  height: auto; }
  @media screen and (max-width: 460px) {
    .footer .credits li:nth-of-type(3) img {
      width: 58px; } }

.footer .credits li:nth-of-type(4) img {
  width: 1px;
  height: auto; }
  @media screen and (max-width: 460px) {
    .footer .credits li:nth-of-type(4) img {
      height: 40px; } }

.footer .credits li:nth-of-type(5) img {
  width: 137px;
  height: auto; }
  @media screen and (max-width: 460px) {
    .footer .credits li:nth-of-type(5) img {
      width: 103px; } }

.footer .credits li:nth-of-type(1) {
  margin-left: 0; }

.footer .credits li:nth-of-type(5) {
  margin-right: 0; }
